// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel {
  width: 350px;
  height: 400px;
}

.img-panel {
  width: auto;
  height: auto;
}

.panel-picture {
  width: 300px;
  height: 300px;
}
